.header{
    display: flex;
    background-color: cadetblue;
    justify-content: space-around;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:100px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(163, 226, 228);
}
.design{
    display: flex;
    background-color: rgb(148, 197, 197);
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    -ms-flex-order: initial;
    justify-content: first baseline;
    padding: 0px;
    margin:10px;
    
    font-size: 32px;
    position: relative;
}
.design p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.design:hover img{
 transform: scale(1.2);  
}

body{
    background-color: lavenderblush;
    margin:0px;
}
h1{
    color: black;
}
a{
    text-size-adjust: 20px;
}
a:link{
color: lavenderblush;
}
a:visited{
    color: black;
}
